<div id="content-container">
	<img class="feature_img round_box" src="imgs/feature-img.jpg"></img>
	<ul id="product-list">
		<li class="product-item">
			<a href='#'><img class="round_box box_shadow" src="imgs/img1.jpg"></img></a>
			<h4>My World</h4>
			<p>
			<a href='#'>DETAIL</a>
			</p>
		</li>
		<li class="product-item">
			<a href='#'><img class="round_box box_shadow" src="imgs/img2.jpg"></img></a>
			<h4>Say Yes!</h4>
			<p>
			<a href='#'>DETAIL</a>
			</p>
		</li>
		<li class="product-item">
			<a href='#'><img class="round_box box_shadow" src="imgs/img3.jpg"></img></a>
			<h4>The New Wave</h4>
			<p>
			<a href='#'>DETAIL</a>
			</p>
		</li>
		<li class="product-item">
			<a href='#'><img class="round_box box_shadow" src="imgs/img4.jpg"></img></a>
			<h4>A frog or a Prince</h4>
			<p>
			<a href='#'>DETAIL</a>
			</p>
		</li>
		<li class="product-item">
			<a href='#'><img class="round_box box_shadow" src="imgs/img5.jpg"></img></a>
			<h4>Twits & Shout!</h4>
			<p>
			<a href='#'>DETAIL</a>
			</p>
		</li>
		<li class="product-item">
			<a href='#'><img class="round_box box_shadow" src="imgs/img6.jpg"></img></a>
			<h4>Never Land</h4>
			<p>
			<a href='#'>DETAIL</a>
			</p>
		</li>
	</ul>
</div>