<div id="nav-container">
	<ul class="nav-list">
		<li><a href='#'>Z<sup>2</sup> WEAR</a></li>
		<li><a href='#'>LOOK BOOK</a></li>
		<li></li>
	</ul>
</div>

<div id="content-container">
	<img class="feature_img round_box" src="imgs/feature-img.jpg"></img>
	<ul id="product-list">
		<li class="product-item">
			<img class="round_box box_shadow" src="imgs/img1.jpg"></img>
		</li>
		<li>
			<img class="round_box box_shadow" src="imgs/img2.jpg"></img>
		</li>
		<li>
			<img class="round_box box_shadow" src="imgs/img3.jpg"></img>
		</li>
		<li>
			<img class="round_box box_shadow" src="imgs/img4.jpg"></img>
		</li>
		<li>
			<img class="round_box box_shadow" src="imgs/img5.jpg"></img>
		</li>
		<li>
			<img class="round_box box_shadow" src="imgs/img6.jpg"></img>
		</li>
	</ul>
</div>