
	<img class="feature_img round_box" src="imgs/feature-img.jpg" />
	<ul id="product-list">
		<li class="product-item">
			<a href='#'><img class="round_box box_shadow" src="imgs/img1.jpg" /></a>
			<h4>My World</h4>
			<a class='detail-link' href='#'>DETAIL</a>
			<img class='detail-img' src='/imgs/detail-img.gif' />
		</li>
		<li class="product-item">
			<a href='#'><img class="round_box box_shadow" src="imgs/img2.jpg" /></a>
			<h4>Say Yes!</h4>
			<a class='detail-link' href='#'>DETAIL</a>
			<img class='detail-img' src='/imgs/detail-img.gif' />
		</li>
		<li class="product-item">
			<a href='#'><img class="round_box box_shadow" src="imgs/img3.jpg" /></a>
			<h4>The New Wave</h4>
			<a class='detail-link' href='#'>DETAIL</a>
			<img class='detail-img' src='/imgs/detail-img.gif' />
		</li>
		<li class="product-item">
			<a href='#'><img class="round_box box_shadow" src="imgs/img4.jpg"/></a>
			<h4>A frog or a Prince</h4>
			<a class='detail-link' href='#'>DETAIL</a>
			<img class='detail-img' src='/imgs/detail-img.gif' />
		</li>
		<li class="product-item">
			<a href='#'><img class="round_box box_shadow" src="imgs/img5.jpg"/></a>
			<h4>Twist & Shout!</h4>
			<a class='detail-link' href='#'>DETAIL</a>
			<img class='detail-img' src='/imgs/detail-img.gif' />
		</li>
		<li class="product-item">
			<a href='#'><img class="round_box box_shadow" src="imgs/img6.jpg"/></a>
			<h4>Never Land</h4>
			<a class='detail-link' href='#'>DETAIL</a>
			<img class='detail-img' src='/imgs/detail-img.gif' />
		</li>
	</ul>
