<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= @title %></title>
	<link href="/css/styles.css" media="screen" rel="stylesheet" 
	type="text/css" media="screen, projection"/>
</head>
<body>
	<div id="nav-container">
		<ul class="nav-list">
			<li><a href='#'>Z<sup>2</sup> WEAR</a></li>
			<li><a href='#'>LOOK BOOK</a></li>
			<li></li>
		</ul>
	</div>

  <%= yield %>
	Copyright © 2010 Z Wear Inc. 
</body>
</html>
