<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= @title %></title>
	<link href="/css/styles.css" media="screen" rel="stylesheet" 
	type="text/css" media="screen, projection"/>
	<script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="/js/cufon-yui.js"></script>
	<script type="text/javascript" src="/js/AvantGarde_Bk_BT_400.font.js"></script>
	<script type="text/javascript" src="/js/site.js"></script>
</head>
<body>
	<div id="sub-container">
		<div id="bubble-container">
			<div id="bubble" class='round_box box_shadow'>
				<div id='close-bubble-btn'>
				<a href='javascript:app.closeBubble();'>x</a>
				</div>
				<div id="sub-text"></div>
			</div>
		</div>
	</div>
	<div id="nav-container">
		<div id='ajax-status' class='round_box box_shadow'><br/>LOADING...</div>
		<ul class="nav-list">
			<li><a class="nav-item" href='javascript:app.showBubble("zwear")'>Z WEAR</a></li>
			<li><a class="nav-item" href='javascript:app.showBubble("lookbook")'>LOOK BOOK</a></li>
			<li><a class="nav-item" href='javascript:app.showSizeChart();'>SIZE CHART</a></li>
			<li><a class="nav-item last" href='javascript:app.showBubble("contact")'><img class='mailImg' src="/imgs/contact-img.gif" /></a></li>
		</ul>
	</div>
	<div id="content-container">
	  <%= yield %>
	</div>
  <img id='mjr_crds' style='display:none;left:110px; position:absolute;' src="/imgs/online!.gif" alt="We accept all major credit cards."></img>
</body>
</html>
