<div id="product-window" class="round_box box_shadow">
	<img class='productImg' src='/products/<%= @product.largeImgName %>' />
	<div id='product-detail-content'>
		<a class='close-btn' href='javascript:app.closeProduct();'>CLOSE</a>
		<p>
			<%= @product.title %>
		</p>
		<%= @product.description %>
	</div>
	
</div>