<div id="product-window" class="round_box box_shadow">
	<h1><%= @title %></h1>
	<p>
		<img src='/products/<%= @product.largeImgName %>' />
	</p>
	<p>
		<b>Title: </b>
		<%= @product.title %>
	</p>
	
</div>