<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= @title %></title>
	<link href="/css/styles.css" media="screen" rel="stylesheet" 
	type="text/css" media="screen, projection"/>
	<script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="/js/cufon-yui.js"></script>
	<script type="text/javascript" src="/js/AvantGarde_Bk_BT_400.font.js"></script>
</head>

<body>
	<table width="100%" border="0" cellspacing="10" cellpadding="10">
	  <caption>
	    <h4>Size Chart</h4>
	  </caption>
	  <tr>
	    <td><div align="center">Size</div></td>
	    <td><div align="center">Waist</div></td>
	    <td><div align="center">Low Hip</div></td>
	    <td><div align="center">Seat</div></td>
	    <td><div align="center">Height</div></td>
	  </tr>
	  <tr>
	    <td><div align="center">XS(8)</div></td>
	    <td><div align="center">22 1/2</div></td>
	    <td><div align="center">25 1/2</div></td>
	    <td><div align="center">27</div></td>
	    <td><div align="center">49-52</div></td>
	  </tr>
	  <tr>
	    <td><div align="center">S(10)</div></td>
	    <td><div align="center">23</div></td>
	    <td><div align="center">26 1/2</div></td>
	    <td><div align="center">28 1/2</div></td>
	    <td><div align="center">52-54</div></td>
	  </tr>
	  <tr>
	    <td><div align="center">M(12)</div></td>
	    <td><div align="center">24</div></td>
	    <td><div align="center">27 1/2</div></td>
	    <td><div align="center">30</div></td>
	    <td><div align="center">55-56</div></td>
	  </tr>
	  <tr>
	    <td><div align="center">L(14)</div></td>
	    <td><div align="center">25</div></td>
	    <td><div align="center">28 1/2</div></td>
	    <td><div align="center">32</div></td>
	    <td><div align="center">56-58</div></td>
	  </tr>
	  <tr>
	    <td><div align="center">XL(16)</div></td>
	    <td><div align="center">26</div></td>
	    <td><div align="center">29 1/2</div></td>
	    <td><div align="center">34</div></td>
	    <td><div align="center">58-60</div></td>
	  </tr>
	  <tr>
	    <td><div align="center"></div></td>
	    <td><div align="center"></div></td>
	    <td><div align="center"></div></td>
	    <td><div align="center"></div></td>
	    <td><div align="center"></div></td>
	  </tr>
	</table>
</body>

</html>