<p><span class="productTitle">Scottsdale Jumper</span></p>
<p><span class="productDescription">Brief description of product – Indigo Denim Jumper: Fabric- 100% Cotton; Jewel Neck, pleated w/ Crystal patch pockets & top stitch faux belt</span></p>
<p><span class="avail">Available-August 15th 2010</span></p>
<p><span class="price-label">Price:</span>$114.00</p>
<p><span class="productTitle">The Z2 Sack</span></p>
<p><span class="productDescription">Indigo Stripe Denim Hobo sack w/ crystals, front Flap, saddle strap and side pockets with Embroidery Z2 Wear logo on Pocket</span></p>
<p><span class="productDescription">Turquoise Shark Skin; Fabric 100% cotton with Shark Skin Finish; Hobo sack w/ crystals, front flap, saddle strap and side pockets with Embroidery Z2 Wear logo on Pocket</span></p>
<p><span class="avail">Available Now</span></p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="A6C23FHM7ZY6U">
<table>
<tr><td><input type="hidden" name="on0" value="Type">Type</td></tr><tr><td><select name="os0">
	<option value="Denim">Denim $78.00</option>
	<option value="Shark Skin">Shark Skin $78.00</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
