body {
	background-color:#f471b9;
	background-image:url('/imgs/bubble_bckgrnd.gif');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center 5px;
}

#content-container
{
	width: 937px;
	height: 691px;
	margin-right: auto;
	margin-left: auto;
}

#nav-container
{
	width: 937px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
}

ul.nav-list 
{ 
	text-align:right; 
	margin:0px; 
	padding:0;

}

ul li 
{
	display:inline;
	padding: 10px;
}